# ==========================================
# ResolveAI Environment Configurations Template
# ==========================================

# 1. Spring Boot Backend Configuration
# Port: 8080
DB_URL=localhost:3306
DB_USERNAME=root
DB_PASSWORD=password
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
AI_SERVICE_URL=http://localhost:8000

# 2. React Frontend Configuration
# Port: 5173 (Dev Proxy binds to 8080)
VITE_API_URL=http://localhost:8080/api

# 3. Python AI Microservice Configuration
# Port: 8000
MODEL_PATH=models
AI_PROVIDER=OPENAI
AI_API_KEY=
LLM_MODEL_NAME=gpt-3.5-turbo
AI_BASE_URL=https://api.openai.com/v1
